.blockOne {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 7% 0 0 10%;
    /* background-color: gray; */

}

.blockOneLeft {
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 60%; 
    /* flex-grow: 1; */
    /* background: beige; */
}

.blockOneRight {
    display: flex;
    /* flex-grow: 1; */
    /* border: 1px solid blue; */
    /* border-radius: 100px; */
    height: 100%; 
    width: 50%; 
    /* background-color: beige; */
}

.blockOneRightImg {
    height: 100%; 
    width: 100%; 
}

.blockOneRightImg img {
    height: 100%;
    width: 100%;
}

.blockOneLeft {
    font-size: 2.9em;
    font-weight: 900;
    padding: 0 5% 0 0;
}
.blockOneLeftP span {
    font-size: 1.2em;
    color: black;
}
.blockOneLeftP p {
    color: black;
}

.blockOneLeftP .pM{
    font-size: 0.5em;
    font-weight: 400;
}

.blockOneLeftButton {
    display: flex;
    margin: 5% 0 0 0;
}

.blockOneLeftButton button {
    display: flex;
    font-weight: 700;
    align-items: center;
    background: white;
    border: 1px solid rgb(187, 185, 185);
    border-radius: 9px;
    width: 200px;
    height: 45px;
}

.blockOneLeftButton button:nth-child(2) {
    display: flex;
    justify-content: center;
    margin: 0 0 0 3%;
    background-color: rgb(113, 156, 248);
    color: white;
}

.blockOneLeftButton img {
    width: 12%;
    padding: 1% 5% 1% 8%;
    /* height: 30%; */
}

.blockOneLeftSpan {
    margin-top: 3%;
}

.blockOneLeftSpan p {
    color: grey;
    font-weight: 500;
    font-size: 0.35em;
}

.blockOneLeftSpan span {
    color: black;
    font-size: 1.1em;
    font-weight: 700;
}

.blockOneLeftSpan img{
    height: 17px;
    width: 17px;
    margin: 0 5px 0 5px;
}





















/* .blockOne {
    display: flex;
    /* justify-content: center; */
    /* align-items: center;
    justify-content: center;
    border: 1px solid grey; 
    height: 100%;
    width: 100%;
    background: #4a5c6a; */
    /* background: #06141b; */
    /* box-shadow: 10px 10px white; */
 /* */
/* 
.blockOne img {
    height: 750px;
    width: 700px; */
    /* box-shadow: 0px 45px 10px -35px rgba(74,92,106,0.6); */


/* .blockOne img:nth-child(2) {
    margin: 0px -450px 0 -550px ;
    height: 850px;
    width: 800px;
} */

/* .blockOne {
    height: 100%;
    width: 100%;
    /* border: 1px solid grey;
    background: #06141b;
} 

.blockOneLeft p {
    color: #ccd0cf;
}

.blockOneRight {
    height: 100%;
    width: 50%;
    /* border: 1px solid grey;
    background: #06141b;
} */