.blockOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 10% 0 0 10%;
    background-color: gray;

}

.blockOneLeft {
    height: 100%;
    width: 50%;
    background: beige;
}

.blockOneRight {
    height: 100%;
    width: 30%;
    background-color: beige;
}




























/* .blockOne {
    display: flex;
    /* justify-content: center; */
    /* align-items: center;
    justify-content: center;
    border: 1px solid grey; 
    height: 100%;
    width: 100%;
    background: #4a5c6a; */
    /* background: #06141b; */
    /* box-shadow: 10px 10px white; */
 /* */
/* 
.blockOne img {
    height: 750px;
    width: 700px; */
    /* box-shadow: 0px 45px 10px -35px rgba(74,92,106,0.6); */


/* .blockOne img:nth-child(2) {
    margin: 0px -450px 0 -550px ;
    height: 850px;
    width: 800px;
} */

/* .blockOne {
    height: 100%;
    width: 100%;
    /* border: 1px solid grey;
    background: #06141b;
} 

.blockOneLeft p {
    color: #ccd0cf;
}

.blockOneRight {
    height: 100%;
    width: 50%;
    /* border: 1px solid grey;
    background: #06141b;
} */